.fUserInput {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.fUserInput.tw,
.tw .fUserInput {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, "MS UI Gothic", "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.fUserInput.ja,
.ja .fUserInput {
  font-family: "Helvetica Neue", Helvetica, "MS UI Gothic", "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.fUserInput.ko,
.ko .fUserInput {
  font-family: "Malgun Gothic", "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.fSystem {
  font-family: "Roboto", "Helvetica Neue", Helvetica, "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.fSystem.tw,
.tw .fSystem {
  font-family: "Roboto", "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, "MS UI Gothic", "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.fSystem.ja,
.ja .fSystem {
  font-family: "Roboto", "Helvetica Neue", Helvetica, "MS UI Gothic", "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.fSystem.ko,
.ko .fSystem {
  font-family: "Malgun Gothic", "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.fOpenSans {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.fOpenSans.tw,
.tw .fOpenSans {
  font-family: "Open Sans", "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, "MS UI Gothic", "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.fOpenSans.ja,
.ja .fOpenSans {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "MS UI Gothic", "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.fOpenSans.ko,
.ko .fOpenSans {
  font-family: "Malgun Gothic", "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.IndiraK {
  font-family: "Indira K", Helvetica, "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.EraslTC {
  font-family: "EraslTC", Helvetica, "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.cBorderbox {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.overEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.cp_calendarField .cp_dropDownMenuWrapper {
  width: 300px;
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
}
.calendarContainer {
  width: 300px;
  background-color: #FFF;
  border: 1px solid #C1C4C1;
}
.calendarContainer.MD.data .calendarWrapper,
.calendarContainer.D.data .calendarWrapper {
  height: 230px;
}
.calendarContainer.static .MS.calendarWrapper {
  height: 230px;
}
.calendar_switcher {
  height: 38px;
  margin: -1px;
  background-color: #2D8FD9;
}
.calendar_sTitle {
  cursor: pointer;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
  color: #FFF;
}
.calendar_sType {
  padding-right: 10px;
}
.calendarWrapper {
  overflow: hidden;
  position: relative;
  height: 280px;
  -webkit-transition: height 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: height 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: height 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.panel_date .calendarWrapper.calendarStatic {
  height: 220px;
}
.calendarMain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.calendar_typeList {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  bottom: 20px;
  overflow: auto;
}
.calendar_typeItem {
  cursor: pointer;
  width: 100%;
  height: 40px;
  padding-top: 20px;
  text-align: center;
}
.calendar_typeTitle {
  line-height: 25px;
  font-size: 16px;
  font-size: 1.6rem;
  color: #525252;
}
.calendar_typeExample {
  line-height: 15px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #848484;
}
.calendar_typeItem:hover .calendar_typeTitle,
.calendar_typeItem.selected .calendar_typeTitle {
  color: #2D8FD9;
}
.calendar_typeTitle:before {
  content: "[";
  padding-right: 9px;
  -webkit-transform: translateX(20px);
     -moz-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
}
.calendar_typeTitle:after {
  content: "]";
  padding-left: 9px;
  -webkit-transform: translateX(-20px);
     -moz-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
}
.calendar_typeTitle:before,
.calendar_typeTitle:after {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";;
  display: inline-block;
  zoom: 1;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  -moz-transition: transform 0.3s, opacity 0.2s, -moz-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s, -moz-transform 0.3s;
}
.calendar_typeItem.selected .calendar_typeTitle:before,
.calendar_typeItem.selected .calendar_typeTitle:after {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";;
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
}
.calendar_header {
  height: 49px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e5eef6;
}
.calendar_hTitle {
  position: relative;
  width: 100%;
  height: 49px;
  line-height: 49px;
  font-size: 16px;
  font-size: 1.6rem;
  color: #2D8FD9;
}
.calendar_hTitle.halfWidth {
  width: 40%;
}
.calendar_hTitle.halfWidth.month {
  float: left;
}
.calendar_hTitle.halfWidth.year {
  float: right;
}
.calendar_CurrentVal {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  text-align: center;
  color: #000;
}
.calendar_hTitle.canSwitch .hasTopLayer {
  cursor: pointer;
  color: #2D8FD9;
}
.calendar_hDecrease {
  display: none;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 49px;
  color: #2D8FD9;
}
.calendar_hIncrease {
  display: none;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 49px;
  color: #2D8FD9;
}
.calendar_hTitle.canSwitch .calendar_hDecrease,
.calendar_hTitle.canSwitch .calendar_hIncrease {
  display: inline-block;
}
.calendar_body {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}
.calendar_bWeekList {
  position: absolute;
  top: 0;
  left: 10px;
  right: 0;
  bottom: 0;
  padding-top: 10px;
}
.calendar_bWeekNameRow {
  height: 30px;
}
.calendar_bWeekNameItem {
  float: left;
  width: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  font-size: 1.2rem;
  color: #525252;
  font-weight: bold;
  white-space: nowrap;
}
.calendar_bWeekRow {
  height: 20px;
  padding-top: 10px;
}
.calendar_bDayItem {
  float: left;
  cursor: default;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 20px;
  text-align: center;
  color: #AAA;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.calendar_bDayItem a,
.calendar_bDayItem a:hover,
.calendar_bDayItem a:visited {
  color: #AAA;
}
.calendar_bDayItem.current-month {
  cursor: pointer;
  color: #525252;
}
.calendar_bDayItem.current-month a,
.calendar_bDayItem.current-month a:hover,
.calendar_bDayItem.current-month a:visited {
  color: #525252;
}
.calendar_bDayItem.current-month:hover {
  color: #2D8FD9;
  font-weight: bold;
}
.calendar_bDayItem.current-month:hover a,
.calendar_bDayItem.current-month:hover a:hover,
.calendar_bDayItem.current-month:hover a:visited {
  color: #2D8FD9;
}
.calendar_bDayItem.current-month.selected {
  color: #2D8FD9;
  border-bottom: 2px solid #267DC5;
}
.calendar_bDayItem.current-month.selected a,
.calendar_bDayItem.current-month.selected a:hover,
.calendar_bDayItem.current-month.selected a:visited {
  color: #2D8FD9;
}
.calendar_bDayItem.today {
  border-radius: 50%;
  background-color: rgba(38, 125, 197, 0.5);
}
.calendar_bDayItem.today.selected {
  border-bottom: 0 none;
}
.calendar_bDayItem.disabled {
  cursor: default;
  color: #AAA;
}
.calendar_bDayItem.disabled a,
.calendar_bDayItem.disabled a:hover,
.calendar_bDayItem.disabled a:visited {
  cursor: default;
  color: #AAA;
}
.calendar_bDayItem.disabled:hover {
  color: #AAA;
  font-weight: normal;
}
.calendar_bDayItem.disabled:hover a,
.calendar_bDayItem.disabled:hover a:hover,
.calendar_bDayItem.disabled:hover a:visited {
  color: #AAA;
}
.calendar_bDayItem.disabled.selected {
  color: #AAA;
  border-bottom: 0 none;
}
.calendar_bDayItem.disabled.selected a,
.calendar_bDayItem.disabled.selected a:hover,
.calendar_bDayItem.disabled.selected a:visited {
  color: #AAA;
}
.calendar_bMonthList,
.calendar_bYearList {
  position: absolute;
  top: 0;
  left: 10px;
  right: 0;
  bottom: 0;
  padding-top: 10px;
}
.calendar_bMonthItem {
  float: left;
  cursor: pointer;
  width: 70px;
  height: 30px;
  margin-top: 30px;
  line-height: 30px;
  text-align: center;
  color: #525252;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.calendar_bMonthItem:hover {
  color: #2D8FD9;
  font-weight: bold;
}
.calendar_bMonthItem.selected {
  color: #2D8FD9;
  border-bottom: 2px solid #267DC5;
}
.calendar_bYearItem {
  float: left;
  cursor: default;
  width: 70px;
  height: 30px;
  margin-top: 30px;
  line-height: 30px;
  text-align: center;
  color: #AAA;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.calendar_bYearItem.current-decade {
  cursor: pointer;
  color: #525252;
}
.calendar_bYearItem.current-decade:hover {
  color: #2D8FD9;
  font-weight: bold;
}
.calendar_bYearItem.current-decade.selected {
  color: #2D8FD9;
  border-bottom: 2px solid #267DC5;
}
.calendar_time {
  height: 30px;
  padding: 10px;
  text-align: center;
  background-color: #F8FAFC;
  border-top: 1px solid #e5eef6;
  border-bottom: 1px solid #e5eef6;
}
.calendar_time .calendar_content {
  display: inline-block;
}
.calendar_input {
  float: left;
  width: 50px;
  padding: 0;
}
.calendar_input .cp_iContent {
  height: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: #FFF;
  border: 1px solid #D9DFE2;
}
.cp_iContent {
  width: 100%;
  padding: 0 5px 2px 5px;
  min-height: 23px;
  line-height: 20px;
  outline: none;
  background-color: transparent;
  border: 0 none;
  border-bottom: 1px solid #D9DFE2;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  transition: all 100ms;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.cp_iContent.tw,
.tw .cp_iContent {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, "MS UI Gothic", "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.cp_iContent.ja,
.ja .cp_iContent {
  font-family: "Helvetica Neue", Helvetica, "MS UI Gothic", "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.cp_iContent.ko,
.ko .cp_iContent {
  font-family: "Malgun Gothic", "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.cp_iContent.noBorder {
  border-bottom: 0 none;
}
.cp_calendar_input {
  float: left;
  width: 50px;
  padding: 0;
  height: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: #FFF;
  border: 1px solid #D9DFE2;
  min-height: 23px;
  line-height: 20px;
  outline: none;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  transition: all 100ms;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.cp_calendar_input.tw,
.tw .cp_calendar_input {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, "MS UI Gothic", "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.cp_calendar_input.ja,
.ja .cp_calendar_input {
  font-family: "Helvetica Neue", Helvetica, "MS UI Gothic", "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.cp_calendar_input.ko,
.ko .cp_calendar_input {
  font-family: "Malgun Gothic", "Nimbus Sans L", -apple-system, BlinkMacSystemFont, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.cp_calendar_input.noBorder {
  border-bottom: 0 none;
}
.calendarTips {
  float: left;
  padding: 5px;
  line-height: 20px;
  color: #AAA;
}
.calendar_operate {
  height: 32px;
  padding: 10px;
  text-align: center;
}
.calendar_confirm {
  margin-right: 20px;
}
.calendarMain .calendar_body .disabled,
.calendarMain .calendar_body .disabled a {
  cursor: default;
  color: #AAA;
}
.listSwitch-enter {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";;
}
.cm_next .listSwitch-enter {
  -webkit-transform: translate3d(200px, 0, 0);
     -moz-transform: translate3d(200px, 0, 0);
          transform: translate3d(200px, 0, 0);
}
.ie8 .cm_next .listSwitch-enter {
  left: 200px;
  right: -200px;
}
.cm_prev .listSwitch-enter {
  -webkit-transform: translate3d(-200px, 0, 0);
     -moz-transform: translate3d(-200px, 0, 0);
          transform: translate3d(-200px, 0, 0);
}
.ie8 .cm_prev .listSwitch-enter {
  left: -200px;
  right: 200px;
}
.listSwitch-enter.listSwitch-enter-active {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";;
  -webkit-transition: all .22s linear;
  -moz-transition: all .22s linear;
  transition: all .22s linear;
}
.cm_next .listSwitch-enter.listSwitch-enter-active,
.cm_prev .listSwitch-enter.listSwitch-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.ie8 .cm_next .listSwitch-enter.listSwitch-enter-active,
.ie8 .cm_prev .listSwitch-enter.listSwitch-enter-active {
  left: 0;
  right: 0;
}
.listSwitch-leave {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";;
}
.cm_next .listSwitch-leave,
.cm_prev .listSwitch-leave {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.ie8 .cm_next .listSwitch-leave,
.ie8 .cm_prev .listSwitch-leave {
  left: 0;
  right: 0;
}
.listSwitch-leave.listSwitch-leave-active {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";;
  -webkit-transition: all .22s linear;
  -moz-transition: all .22s linear;
  transition: all .22s linear;
}
.cm_prev .listSwitch-leave.listSwitch-leave-active {
  -webkit-transform: translate3d(200px, 0, 0);
     -moz-transform: translate3d(200px, 0, 0);
          transform: translate3d(200px, 0, 0);
}
.ie8 .cm_prev .listSwitch-leave.listSwitch-leave-active {
  left: 200px;
  right: -200px;
}
.cm_next .listSwitch-leave.listSwitch-leave-active {
  -webkit-transform: translate3d(-200px, 0, 0);
     -moz-transform: translate3d(-200px, 0, 0);
          transform: translate3d(-200px, 0, 0);
}
.ie8 .cm_next .listSwitch-leave.listSwitch-leave-active {
  left: -200px;
  right: 200px;
}
.typeSwitch-enter {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";;
}
.cm_magnify .typeSwitch-enter {
  -webkit-transform: scale(0.6);
     -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
}
.cm_shrink .typeSwitch-enter {
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.typeSwitch-enter.typeSwitch-enter-active {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";;
  -webkit-transition: all .22s linear;
  -moz-transition: all .22s linear;
  transition: all .22s linear;
}
.cm_magnify .typeSwitch-enter.typeSwitch-enter-active,
.cm_shrink .typeSwitch-enter.typeSwitch-enter-active {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.typeSwitch-leave {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";;
}
.cm_magnify .typeSwitch-leave,
.cm_shrink .typeSwitch-leave {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.typeSwitch-leave.typeSwitch-leave-active {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";;
  -webkit-transition: all .22s linear;
  -moz-transition: all .22s linear;
  transition: all .22s linear;
}
.cm_magnify .typeSwitch-leave.typeSwitch-leave-active {
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.cm_shrink .typeSwitch-leave.typeSwitch-leave-active {
  -webkit-transform: scale(0.6);
     -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
}
.cm_shrink .cFormatSwitch-enter {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";;
}
.cm_shrink .cFormatSwitch-enter.cFormatSwitch-enter-active {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  transition: all .25s linear;
}
.cm_magnify .cFormatSwitch-enter {
  z-index: 10;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";;
  -webkit-transform: scale(0.6);
     -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
}
.cm_magnify .cFormatSwitch-enter.cFormatSwitch-enter-active {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .22s linear;
  -moz-transition: all .22s linear;
  transition: all .22s linear;
}
.cm_left .cFormatSwitch-enter .calendar_body {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";;
}
.cm_left .cFormatSwitch-enter.cFormatSwitch-enter-active .calendar_body {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";;
  -webkit-transition: all .22s linear;
  -moz-transition: all .22s linear;
  transition: all .22s linear;
}
.cm_right .cFormatSwitch-enter .calendar_body {
  z-index: 10;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";;
  left: 200px;
  right: -200px;
}
.cm_right .cFormatSwitch-enter.cFormatSwitch-enter-active .calendar_body {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";;
  left: 0;
  right: 0;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  transition: all .25s linear;
}
.cm_shrink .cFormatSwitch-leave {
  z-index: 10;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  transition: all .25s linear;
}
.cm_shrink .cFormatSwitch-leave.cFormatSwitch-leave-active {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";;
  -webkit-transform: scale(0.6);
     -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
}
.cm_magnify .cFormatSwitch-leave {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  transition: all .25s linear;
}
.cm_magnify .cFormatSwitch-leave.cFormatSwitch-leave-active {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";;
}
.cm_left .cFormatSwitch-leave .calendar_body {
  z-index: 10;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";;
  left: 0;
  right: 0;
}
.cm_left .cFormatSwitch-leave .calendar_header {
  display: none;
}
.cm_left .cFormatSwitch-leave.cFormatSwitch-leave-active .calendar_body {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";;
  left: 200px;
  right: -200px;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  transition: all .25s linear;
}
.cm_right .cFormatSwitch-leave .calendar_body {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";;
}
.cm_right .cFormatSwitch-leave .calendar_header {
  display: none;
}
.cm_right .cFormatSwitch-leave.cFormatSwitch-leave-active .calendar_body {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  transition: all .25s linear;
}
.calendarContainer.calendarDateRange {
  width: 602px;
}
.calendarContainer.calendarDateRange:after {
  content: '';
  display: block;
  clear: both;
}
.calendarContainer.calendarDateRange.is-disabled .calendar_bDayItem {
  cursor: default;
}
.calendarContainer.calendarDateRange.is-disabled .calendar_bDayItem:hover {
  font-weight: normal;
}
.calendarContainer.calendarDateRange .calendarWrapper {
  height: 313px;
}
.calendarContainer.calendarDateRange .cdr_startDate {
  float: left;
  width: 50%;
  border-right: 1px dashed #C1C4C1;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.calendarContainer.calendarDateRange .cdr_endDate {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.calendarContainer.calendarDateRange .calendar_bWeekList {
  left: 0;
  padding-top: 0;
}
.calendarContainer.calendarDateRange .calendar_bWeekNameRow {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 8px;
  border-bottom: 1px solid #e5eef6;
}
.calendarContainer.calendarDateRange .calendar_bWeekNameItem {
  width: 40px;
  color: #848484;
}
.calendarContainer.calendarDateRange .calendar_bWeekNameItem.isWeekend {
  color: #F1817E;
}
.calendarContainer.calendarDateRange .calendar_bWeekRow {
  height: 30px;
  padding: 3px 10px;
}
.calendarContainer.calendarDateRange .calendar_bDayItem {
  z-index: 1;
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 30px;
  text-align: center;
  outline: 0 none;
  visibility: hidden;
}
.calendarContainer.calendarDateRange .calendar_bDayItem.current-month {
  color: #000;
  visibility: visible;
}
.calendarContainer.calendarDateRange .calendar_bDayItem.disabled {
  color: #AAA;
}
.calendarContainer.calendarDateRange .calendar_bDayItem.today {
  background-color: transparent;
}
.calendarContainer.calendarDateRange .calendar_bDayItem.today:before {
  content: '';
  position: absolute;
  left: 13.5px;
  right: 13.5px;
  bottom: 3px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #e73530;
}
.calendarContainer.calendarDateRange .calendar_bDayItem.current-month.isWeekend,
.calendarContainer.calendarDateRange .calendar_bWeekNameItem.isWeekend {
  color: #F1817E;
}
.calendarContainer.calendarDateRange .calendar_bDayItem.current-month.isWeekend.disabled,
.calendarContainer.calendarDateRange .calendar_bWeekNameItem.isWeekend.disabled {
  color: #AAA;
}
.calendarContainer.calendarDateRange .calendar_bDayItem.current-month.isWeekend.selected,
.calendarContainer.calendarDateRange .calendar_bWeekNameItem.isWeekend.selected {
  color: #FFF;
}
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange {
  border: 0;
}
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange:after {
  content: ' ';
  z-index: 0;
  display: block;
  position: absolute;
  left: -5px;
  right: -5px;
  top: 0;
  bottom: 0;
  background-color: rgba(45, 143, 217, 0.15);
}
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange:first-child:after,
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange.isFirst:after,
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange.isStart:after {
  left: 0;
  border-radius: 15px 0 0 15px;
}
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange:last-child:after,
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange.isLast:after,
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange.isEnd:after {
  right: 0;
  border-radius: 0 15px 15px 0;
}
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange.isStart:last-child:after,
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange.isFirst:last-child:after,
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange.isStart.isLast:after,
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange.isFirst.isLast:after,
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange.isStart.isEnd:after,
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange.isFirst.isEnd:after {
  border-radius: 15px;
}
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange.isEnd:first-child:after,
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange.isLast:first-child:after,
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange.isEnd.isFirst:after,
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange.isLast.isFirst:after,
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange.isEnd.isStart:after,
.calendarContainer.calendarDateRange .calendar_bDayItem.inRange.isLast.isStart:after {
  border-radius: 15px;
}
.calendarContainer.calendarDateRange .calendar_bDayItem.selected {
  font-weight: bold;
  background-color: #2D8FD9;
  border-radius: 20px;
  color: #FFF;
}
.calendarContainer.calendarDateRange .calendar_bDayItem.selected:before {
  background-color: #FFF;
}
.calendarContainer.calendarDateRange .calendar_hTitle .calendar_CurrentVal {
  color: #000;
}

/*# sourceMappingURL=maps/cpCalendar.css.map */
